[global]
debug = 1
logfile = /tmp/cartracker.log
fake = false

# The speed at which to split from a detailed screen to a simple screen
switchspeed = 10

[twitter]
user = twitteraccount
pass = twitterpassword

[dlp-io8g]
# Channel assignments
ignition = 1
lights = 2

